@page
@model ExpensesReimbursement.Pages.ExpensesModel
@{
    <form method="post">
        <input type="datetime" name="Date" placeholder="Date">
        <input type="text" name="Description" placeholder="Description">
        <input type="number" name="Price" placeholder="Price">

        <button type="submit">Add</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Expense expense in Model.Expenses) {
                <tr>
                    <td>
                        @expense.Date
                    </td>
                    <td>
                        @expense.Description
                    </td>
                    <td>
                        @expense.Price
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
